body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.navbar {
  z-index: 2;
  color: #ffffff;
}

.card {
  z-index: 3;
  position: absolute;
  top: 40px;
  left: 5px;
}

.card-body {
  padding: 15px;
}
#time-window {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.map {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100%;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}*/

.target-button {
  padding:20px;
}

.tactics-button {
  padding:20px;
}

.reset-button {
  padding: 20px;
}

div.cartodb-timeslider .slider-wrapper {
  width: 320px;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

#layer_selector ul {
        padding: 0; margin: 0;
        list-style-type: none;
      }

      #layer_selector li {
        border-bottom: 1px solid #999;
        padding: 15px 30px;
        font-family: "Helvetica", Arial;
        font-size: 13px;
        color: #444;
        cursor: auto;
      }

      #layer_selector li:hover {
        background-color: #F0F0F0;
        cursor: pointer;
      }

      #layer_selector li.selected {
        background-color: #EEE;
      }
      .vertical-alignment-helper {
          display:table;
          height: 100%;
          width: 100%;
          pointer-events:none;
      }
      .vertical-align-center {
          /* To center vertically */
          display: table-cell;
          vertical-align: middle;
          pointer-events:none;
      }
      .modal-content {
          width:inherit;
          max-width:60%;
          max-height: 100%
          height:inherit;
          z-index: 5;
          margin: 0 auto;
          pointer-events: all;
      }
      .img-responsive {
        height: 450px;
      }

      .modal-backdrop {
        z-index:2;
      }

.list-group-flush .list-group-item {
  cursor: default;
}
