body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

#time-window {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 0 5px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

.target-button {
  padding:20px;
}

.tactics-button {
  padding:20px;
}

.reset-button {
  padding: 20px;
}

div.cartodb-timeslider .slider-wrapper {
  width: 320px;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
